.contenedor{
    background-color: crimson;
    color: white;
    max-width: 300px;
    border-radius: 20px;
    padding: 40px;
    margin: 40px auto;
}

#btn-sumar{
    margin: 20%;
    padding: 15px 15px;
    font-size: 1.5rem;
    background-color: black;
    color: wheat;
    border-radius: 5px;
}